                      :root {
                         --yellow: #ffcc0d;
                         --black: #000;
                         --white: #fff;
                         --light-bg: #eee;
                         --border-bold: .5rem solid var(--black);
                         --border-light: .2rem solid var(--black)
                     }
                     
                     * {
                         margin: 0;
                         padding: 0;
                         box-sizing: border-box;
                         font-family: sans-serif;
                         outline: none;
                         border: none;
                         text-transform: capitalize;
                         color: var(--black);
                     }
                     
                     *::selection {
                         background-color: var(--black);
                         color: var(--yellow);
                     }
                     
                     *::-webkit-scrollbar {
                         height: .5rem;
                         width: 1rem;
                     }
                     
                     *::-webkit-scrollbar-track {
                         background-color: transparent;
                     }
                     
                     *::-webkit-scrollbar-thumb {
                         background-color: var(--yellow);
                     }
                     
                     html {
                         font-size: 62.5%;
                         overflow: hidden;
                         scroll-behavior: smooth;
                     }
                     
                     body {
                         overflow: hidden;
                         transition: .2s linear !important;
                     }
                     /* --------------------------- */
                     
                     .header {
                         position: fixed;
                         top: 0;
                         left: 0;
                         height: 100vh;
                         background-color: var(--white);
                         border-right: var(--border-bold);
                         width: 35rem;
                         padding: 3rem 2rem;
                         text-align: center;
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         flex-flow: column;
                         transition: .2s linear !important;
                     }
                     
                     .header .logo {
                         text-transform: uppercase;
                         border-bottom: var(--border-bold);
                         font-weight: bolder;
                         font-size: 4rem;
                     }
                     
                     .header .navbar {
                         width: 100%;
                         display: block;
                     }
                     
                     .header .navbar a {
                         display: block;
                         font-size: 2rem;
                         padding: 1rem;
                         margin: .5rem;
                     }
                     
                     .header .navbar a.active,
                     .header .navbar a:hover {
                         background-color: var(--yellow);
                     }
                     
                     .header .follow a {
                         font-size: 2rem;
                         margin: 0 1rem;
                         cursor: pointer;
                     }